@font-face
{
	font-family: "WhiteStorm";
	src: url("../media/fonts/whiteStorm/WhiteStorm.otf");
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.nav {
    position: fixed; 
    top: 0;           
    z-index: 1000;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 100px;
    background: rgba(9, 11, 24, 1);
	box-sizing: border-box;
}

.logo {
    height: 90px;
}

.links {
    display: flex;
	flex-flow: row wrap;
	font-size: 35px;
	gap: 50px;
}

body
{
	background-image: url("../media/img/Bruno/Iru_BG.png");
	background-attachment: fixed;
	background-size: 200vh;
	background-position: center;
}

li
{
	font-family: WhiteStorm;
	text-decoration: none;
}	

a
{
	color: violet;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	color: white;
	opacity:1;
}

ul
{
	list-style: none;
}

#container
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.Item
{
	background-color: black;
	border: 2px solid black;
	border-radius:25px;
	text-align: center;
	font-size: 36px;
	margin: 10px;
	flex-grow: 1;
	transition-property: transform, flex-grow;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}	

.Item:hover
{
	background-color: black;
	border: 2px solid white;
	border-radius:25px;
	text-align: center;
	font-size: 36px;
	margin: 10px;
	flex-grow: 2;
	transform:scale(1);
	z-index:1;
}