/*CSS*/
@font-face /* Cargo la fuente White Storm, que usaré en el resto del proyecto */
{
	font-family: "WhiteStorm";
	src: url("../media/fonts/whiteStorm/WhiteStorm.otf");
}

body
{
	background-image: url("../media/img/Jaime/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-color:rgba(0,0,0,0.8);
	background-blend-mode: lighten;
}

#sideNav{
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	background: #2779F5;
	z-index: 1;
	transition: 0.5s;
}
h1 {
	color: cyan;
	font-size: 80px;
	text-align: center;
	font-family: "WhiteStorm";
}
h2 {
	color: cyan;
	font-size: 50px;
	text-align: center;
	font-family: "WhiteStorm";
}
ul{
	margin-top: 80px;
}
li{
	font-size: 25px;
	list-style: none;
	margin: 10px 10px;
	font-family: "WhiteStorm";
	margin-left: 5px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:cyan;
}
.logoo {
	display: block;
	margin: auto;
	text-align: right;
	margin-left: 50px;
}
.logoo:hover
{
	width: 72%;
	height: auto;
	border: 0.25rem solid cyan;
	cursor: pointer;
}
#boton{
	width: 50px;
	height: 50px;
	background: #2779F5;
	text-align: center;
	position: fixed;
	left: 30px;
	top: 20px;
	border-radius:3px;
	z-index: 2;
	cursor: pointer;
	display: block;
}

#header 
{
	padding-top: 10px;
}


#cover{
	display: block;
	margin: auto;
	width: 100vh;
    height: auto;
	border-radius: 30px;
	text-align: center;
}	
#fish{
	width: 500px;
	height: 500px;
	text-align: center;
	margin: auto;

}

.column {
  float: left;
  width: 45.00%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.vid {
	display: block;
	margin: auto;
	text-align: center;
}
.vid:hover
{
	width: 75%;
	height: auto;
	border: 0.25rem solid cyan;
}
.button {
	display: block;
	margin: auto;
	text-align: center;
}
.button:hover
{
	width: 12%;
	height: auto;
	border: 0.25rem solid cyan;
	cursor: pointer;
}
.footer
{
	color: #2779F5;
	padding: 0 5%;
    width: 100%;
    height: 50px;
    background: #2779F5;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4vh;
	transition: all 0.3s ease;
}
.footer:hover
{
    background: cyan;
}
.footer a
{
	font-family: 'Google', sans-serif;
	font-weight:bold;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 7px #000000;
	text-decoration: none;
}

